- if @stack_overflow_profile || can?(:sync_profile, @profile)
  .info_box#stack_overflow_info
    .info_logo
      = link_to image_tag("stack_over_flow_info_logo.png"), "http://www.stackoverflow.com"
      -if can?(:sync_profile, @profile) && @stack_overflow_profile
        .delete
          = link_to "delete", [@profile, @stack_overflow_profile], :id=> :delete_stack_overflow, :confirm => 'Are you sure?', :method => :delete
        .edit
          %a{:class => "module_link", :rel => "#sync_stack_overflow"} edit
    .info
      - if @stack_overflow_profile
        - if !@stack_overflow_profile.synced?
          %p We are still processing. Hit refresh.
        - else
          = link_to "Go to my StackOverflow Profile", @stack_overflow_profile.url, :target => "_blank"
          %table
            %tr
              %td Reputation
              %td= @stack_overflow_profile.reputation
        
      - else
        - if can? :sync_profile, @profile
          - @stack_overflow_profile = StackOverflowProfile.new
          %p{:id => :add_stack_overflow_section} 
            Do you have a StackOverflow account? 
            %a{:class => "module_link", :rel => "#sync_stack_overflow"} Yes
      #sync_stack_overflow.overlay
        = render :partial => "stack_overflow_profiles/form"
  .clear
