- if @profile.stack_overflow_profile.nil?
	- if current_profile == @profile
		%p 
			Do you have a StackOverflow account? 
			= link_to "Add Your StackOverflow Account", new_stack_overflow_profile_path
-else
	.large
		.grid_4
			%h4 StackOverflow
			= link_to "synch", synch_stack_overflow_profiles_path
		.clear
		.grid_4
			= link_to "Go to my StackOverflow Profile", @profile.stack_overflow_profile.url
		.clearfix
		.grid_2
			Reputation
		.grid_2
			= @profile.stack_overflow_profile.reputation
		.clear
		.grid_2
			Badges
		.grid_2
			= stack_overflow_badges(@profile.stack_overflow_profile)
		.clear