
%li.row
  .span3= link_to image_tag("syncable/stack_overflow_logo.png"), "http://www.stackoverflow.com"
  .span10
    - @stack_overflow_profile = @profile.stack_overflow_profile || StackOverflowProfile.new
    #sync_stack_overflow
      = form_for [@profile, @stack_overflow_profile] do |f|
        = f.text_field :stack_overflow_id, :class => "xlarge"
        = submit_tag "Sync", :class => "btn success"
        - if @profile.stack_overflow_profile
          = link_to "Delete", [@profile, @stack_overflow_profile], :id=> :delete_stack_overflow, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
