.syncable_logo= link_to image_tag("syncable/stack_overflow_logo.png"), "http://www.stackoverflow.com"
- @stack_overflow_profile = @profile.stack_overflow_profile || StackOverflowProfile.new
.edit_form
  = form_for [@profile, @stack_overflow_profile] do |f|
    = f.text_field :stack_overflow_id
    = big_positive_loop_button_tag "Sync"

- if @profile.stack_overflow_profile
  .delete_button
    = big_negative_remove_button_link_to "delete", [@profile, @stack_overflow_profile], :id=> :delete_stack_overflow, :confirm => 'Are you sure?', :method => :delete 
.clear
