= content_for :title do
  #{@profile.display_name} - Writing

#profile
  = render :partial => "profiles/header"
  = render :partial => "profiles/profile_menu"

  #profile_content
    .grid_13
      %section#blog_posts
        %h2 Blog Posts
        %ul
          - @profile.posts.chronological_order.each do |post|    
            %li
              = link_to post.title, post.url
      &nbsp;
    .grid_2

    .clear

  .clear
.clear