%tr
  %td= image_tag profile.gravatar_url(:size => 50)
  %td
    %h3= link_to profile.username, profile
  %td
    .points
      = profile.total_score
      %p points
  %td
    - unless profile.stack_overflow_profile.nil?
      .points
        = image_tag "stack_overflow_points_icon.png"
        = pointify profile.stack_overflow_profile.reputation
        %p rep
  