%li{"data-type" => "following" }
  .following_pic
    = image_tag profile.gravatar_url(:size => 50)
  .following_info
    .following_username
      = link_to profile.username, profile
    .clear
    %ul.following_points
      %li
        .points= profile.total_score
        .description points
      - unless profile.stack_overflow_profile.nil?
        %li.stack_overflow
          .image= image_tag "stack_overflow_points_icon.png"
          .points= pointify profile.stack_overflow_profile.reputation
          .description rep
    .clear
  .clear

