%h3 Accounts
%table.condensed-table#accounts
  = render :partial => "stack_overflow_profiles/simple_display"
  = render :partial => "bitbucket_profiles/simple_display"
  = render :partial => "git_hub_profiles/simple_display"
  = render :partial => "coder_wall_profiles/simple_display"
  = render :partial => "slide_share_profiles/simple_display"
  = render :partial => "speaker_rate_profiles/simple_display"
  = render :partial => "twitter_profiles/simple_display"
