<script type="text/javascript" src="http://static.evernote.com/noteit.js"></script>
<a href="#" onclick="Evernote.doClip(
  {
  contentId:'evernote_content',
  title:'<%= @profile.name %> on CodeMav.com',
  providerName:'CodeMav.com',
  url:'<%= profile_url(@profile) %>',
  styling:'text',
  suggestTags:'<%= @profile.name %>,<%= @profile.username %>'
  }); return false;"><img src="http://static.evernote.com/site-mem-32.png" alt="Clip to Evernote" /></a>

<div id="evernote_content" style="display:none;">
  <%= @profile.name %>


</div>
