.page-header#profile_header
  .pull-right
    - if can? :tweet, @profile
      = render :partial => "profiles/tweet_profile"
    = render :partial => "profiles/evernote"
  %h1
    = image_tag @profile.gravatar_url(:size => 45), :id => :profile_pic
    = @profile.display_name
    %small
      = @profile.username
      - if can? :edit, @profile
        = link_to "edit profile", edit_profile_path(@profile), :class => "btn"
        = link_to "edit syncables", profile_syncable_path(@profile), :class => "btn"

.row
  .span14
    = render :partial => "profiles/points"
  .span2
    = render :partial => "shared/following", :locals => { :profile => @profile }  
