#profile_header
  .grid_2
    = image_tag @profile.gravatar_url(:size => 90), :id => :profile_pic
  .grid_12
    .profile_name= @profile.display_name
    .user_name= "(#{@profile.username})"
    - if @profile == current_profile
      .edit_profile_link
        = link_to "edit profile", edit_profile_path(@profile)
    .clear
    %table
      %tr
        %td.location_image= image_tag "location_pin.png"
        %td= @profile.location_text
        %td.email_image= image_tag "email.png"
        %td= @profile.email
    .clear
    = render :partial => "points"
  .grid_2
    - if can? :follow, @profile
      = form_for [@profile, Following.new] do |f|
        .submit= f.submit "Follow", :disable_with => "Following..."
  .clear
.clear
