%span16#profile_menu
  %ul.tabs
    %li{:class => (@tab == "summary") ? "active" : ""}
      = link_to "Summary", profile_path(@profile)
    %li{:class => (@tab == "experience") ? "active" : ""}
      = link_to "Experience", profile_experience_path(@profile)
    %li{:class => (@tab == "knowledge") ? "active" : ""}
      = link_to "Knowledge", profile_knowledge_path(@profile)
    %li{:class => (@tab == "code") ? "active" : ""}
      = link_to "Code", profile_code_path(@profile)
    %li{:class => (@tab == "writing") ? "active" : ""}
      = link_to "Writing", profile_writing_path(@profile)
    %li{:class => (@tab == "speaking") ? "active" : ""}
      = link_to "Speaking", profile_speaking_path(@profile)
    %li{:class => (@tab == "social") ? "active" : ""}
      = link_to "Social", profile_social_path(@profile)
