%li.search_result
  .profile_pic= image_tag profile.gravatar_url(:size => 60)
  .profile_info
    .profile_name= link_to profile.display_name, profile_path(profile)
    .profile_username #{profile.username}
  .points_and_tags
    %ul.points
      %li.selected
        .points= profile.total_score
        .description points
      %li
        .points= profile.score(:coder_points)
        .description code
      %li
        .points= profile.score(:writer_points)
        .description writing
      %li
        .points= profile.score(:speaker_points)
        .description speaking
      %li
        .points= profile.score(:social_points)
        .description social
      - unless profile.stack_overflow_profile.nil?
        %li{:style => "width: 80px"}
          .image= image_tag "stack_overflow_points_icon.png"
          .points= pointify profile.stack_overflow_profile.reputation
          .description rep
    = render :partial => "shared/simple_tags", :locals => { :taggable => profile }
  .social
    = render :partial => "shared/following", :locals => { :profile => profile }

  .clear
