#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_9
      %ul.list#events
        = render :partial => "events/event", :collection => @code_events, :as => :event
        %li.event_load &nbsp; 
      &nbsp;

    .grid_6
      = render :partial => "shared/profile/git_hub"
      = render :partial => "shared/profile/stack_overflow"

    .clear
  .clear
.clear
