#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_8
      #event_feed
        .filter
          %ul
            %li Filter :
            %li.active
              = link_to "All", profile_events_path(@profile, :filter => "Code"), :remote => true, :rel => "nofollow"
            %li
              = link_to "StackOverflow", profile_events_path(@profile, :filter => "Code", :subfilter => "StackOverflow"), :remote => true, :rel => "nofollow"
            %li
              = link_to "GitHub", profile_events_path(@profile, :filter => "Code", :subfilter => "GitHub"), :remote => true, :rel => "nofollow"
            %li
              = link_to "Bitbucket", profile_events_path(@profile, :filter => "Code", :subfilter => "Bitbucket"), :remote => true, :rel => "nofollow"


      %ul.list#events
        = render :partial => "events/event", :collection => @code_events, :as => :event
        %li.event_load &nbsp; 
        %li.more_events
          = form_tag profile_events_path(@profile), :remote => true, :method => :get do |f|
            = hidden_field_tag :filter, "Code"
            = hidden_field_tag :subfilter, "All"
            = hidden_field_tag :page, 2
            = submit_tag "Click to load more", :id => "more_events"
      &nbsp;

    .grid_5
      = render :partial => "shared/profile/stack_overflow"
      = render :partial => "shared/profile/git_hub"
      = render :partial => "shared/profile/bitbucket"
      = render :partial => "shared/tags", :locals => {:taggable => @profile.coder_profile}

    .clear
  .clear
.clear
