= content_for :title do
  #{@profile.name}'s Code

%h1.hidden #{@profile.name}'s Code

#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_8

    .grid_5
      = render :partial => "git_hub_profiles/profile"
      = render :partial => "bitbucket_profiles/profile"
      = render :partial => "coder_wall_profiles/profile"
      = render :partial => "shared/tags", :locals => {:taggable => @profile.coder_profile}

    .clear
  .clear
.clear
