= content_for :title do
  Edit your profile

#edit_profile.grid_16
  %h1 
    Edit Profile
    %small
      = link_to "edit syncables", profile_syncable_path(@profile), :class => "btn"

  = form_for @profile, :url => update_profile_path(@profile) , :class => "form-stacked" do |f|
    %fieldset
      .clearfix
        = f.label :name
        .input
          = f.text_field :name, :class => "xlarge"
      .clearfix
        = f.label :email
        .input
          = f.text_field :email, :class => "xlarge"        
      .clearfix
        = f.label :location
        .input
          = f.text_field :location, :class => "xlarge"
    .actions
      = f.submit "Save", :disable_with => "Saving...", :class => "btn primary"
      
  
  
               
.clear
