= content_for :title do
  Edit your profile

#edit_profile.grid_16
  %h1 Edit Profile

  = semantic_form_for @profile, :url => update_profile_path(@profile) do |f|
    = f.inputs do
      = f.input :name
      = f.input :email
    = f.buttons do
      = big_save_primary_button_submit_tag "Save"
  
  #syncables
    %h2 Syncables
  
    %section
      %h3 Knowledge
      %ul
        %li= render :partial => "stack_overflow_profiles/syncable"
        
    %section
      %h3 Speaking
      %ul
        %li= render :partial => "speaker_rate_profiles/syncable"
        %li= render :partial => "slide_share_profiles/syncable"
    
.clear
