
%h2 Edit Profile

= form_for @profile  do |f|
	= render :partial => "shared/errors", :locals => { :o => @profile, :o_name => "Profile" }
	%p= f.label :name
	%p= f.text_field :name
 	
	%p= f.submit "Save"