#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content

    .grid_8
      %h2 Jobs
      %ul.list
        - @profile.jobs.each do |j|
          = render :partial => "jobs/job", :locals => { :job => j }
      &nbsp;

    .grid_5
      = render :partial => "shared/profile/linkedin"
      = render :partial => "shared/tags", :locals => { :taggable => @profile.experience_profile }
    .clear

.clear
