#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content

    .grid_9
      - if can? :manage_jobs, @profile
        = link_to "Add Job", new_job_path(:username => @profile.username)
      %ul
        - @profile.jobs.each do |j|
          %li= render :partial => "jobs/job", :locals => { :job => j }
      &nbsp;

    .grid_6
      = render :partial => "shared/profile/linkedin"
    .clear

.clear
