#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content

    .grid_9
      %h2 Jobs
      %br
      %ul.list
        - @profile.jobs.each do |j|
          = render :partial => "jobs/job", :locals => { :job => j }
      &nbsp;

    .grid_6
      = render :partial => "shared/profile/linkedin"
      = render :partial => "shared/tags", :locals => { :taggable => @profile.experience_profile }
    .clear

.clear
