= content_for :title do
  Profiles Search
  
.grid_16
  #people_search_form
    = form_tag search_profiles_path do |f|
      = text_field_tag :search, "", :placeholder => "Search users"
      = big_primary_button_submit_tag "Search", :disable_with => "Searching..."
.clear

.grid_16
  - unless @profiles.nil?
    - if @profiles.empty?
      #no_results
        Oh no! No one was found. But searching is free.. so knock yourself out.
    - else
      %ul.search_results
        - @profiles.each do |p|
          = render :partial => "profiles/search_result", :locals => { :profile => p }
      //= will_paginate @profiles
      = paginate @profiles
          
.clear

