= content_for :title do
  Profiles Search

.row
  .offset5.span8
    = form_tag search_profiles_path do |f|
      = search_field_tag :search, "", :placeholder => "Search users", :class => "input-xlarge"
      = submit_tag "Search", :disable_with => "Searching...", :class => "btn"

.row
  .span16
    - unless @profiles.nil?
      - if @profiles.empty?
        .alert-message.block-message.info
          Oh no! No one was found. But searching is free.. so knock yourself out.
      - else
        %ul.unstyled#search_results
          - @profiles.each do |p|
            = render :partial => "profiles/search_result", :locals => { :profile => p }

        - if @profiles.respond_to? :current_page
          = paginate @profiles