= content_for :title do
  #{@profile.username}'s Profile

#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  .clearfix
  
  #profile_content
    .span8  
      Skill breakdown coming soon.
      &nbsp;
    .span5
      = render :partial => "accounts"
      
    .clearfix
    .span13
      = render :partial => "badges"
      = render :partial => "shared/tags", :locals => {:taggable => @profile}
    .clearfix
  .clearfix
.clearfix
