= content_for :title do
  #{@profile.username}'s Profile

#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  .clearfix
  
  .row
    .span16
      / = render :partial => "charts/dev_journey"
  .row#profile_content  
    .span10
      / = render :partial => "charts/skill_pie"
      = render :partial => "activity"
      &nbsp;
    .span5
      = render :partial => "accounts"
  .row     
    .span16
      = render :partial => "badges"
      = render :partial => "shared/tags", :locals => {:taggable => @profile}
