= content_for :title do
  #{@profile.username}'s Profile

#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_8
    
      #event_feed
        .filter
          %ul
            %li Filter :
            %li.active
              = link_to "All", profile_events_path(@profile, :filter => "All"), :remote => true, :rel => "nofollow"
            %li
              = link_to "Experience", profile_events_path(@profile, :filter => "Experience"), :remote => true, :rel => "nofollow" 
            %li
              = link_to "Code", profile_events_path(@profile, :filter => "Code"), :remote => true, :rel => "nofollow" 
            %li
              = link_to "Writing", profile_events_path(@profile, :filter => "Writing"), :remote => true, :rel => "nofollow" 
            %li
              = link_to "Speaking", profile_events_path(@profile, :filter => "Speaking"), :remote => true, :rel => "nofollow" 
            %li
              = link_to "Social", profile_events_path(@profile, :filter => "Social"), :remote => true, :rel => "nofollow" 

        %ul.list#events
          = render :partial => "events/event", :collection => @profile_events, :as => :event
          %li.event_load &nbsp; 
          %li.more_events
            = form_tag profile_events_path(@profile), :remote => true, :method => :get do |f|
              = hidden_field_tag :filter, "All"
              = hidden_field_tag :page, 2
              = submit_tag "Click to load more", :id => "more_events"
    .grid_5
      = render :partial => "badges"
      = render :partial => "shared/tags", :locals => {:taggable => @profile}
    .clear
  .clear
.clear
