= content_for :title do
  #{@profile.username}'s Profile

#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  .clearfix
  
  .row#profile_content
    .span12
      Skill breakdown coming soon.
      &nbsp;
    .span4
      = render :partial => "accounts"
  .row     
    .span16
      = render :partial => "badges"
      = render :partial => "shared/tags", :locals => {:taggable => @profile}
