#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_9
      = render :partial => "shared/events", :locals => {:events => @profile_events}
      &nbsp;

      %br
    .grid_6
      = render :partial => "badges"
      = render :partial => "shared/tags", :locals => {:taggable => @profile}

    .clear
  .clear
.clear
