#profile
	.grid_2
		= image_tag @profile.gravatar_url(:size => 100), :id => :profile_pic
	.grid_14
		%h2
			.username= @profile.display_name
			.profile_name= "(#{@profile.username})"
			- if @profile == current_profile
				= link_to "edit profile", edit_profile_path(@profile)
		= render :partial => "profile_icons"
	.clear
	
	%hr{:style => "margin-top: 20px;margin-bottom: 20px"}

	.grid_4
		= render :partial => "basic_info"
	.clear
	
	.grid_16
		%ul.tabs{:style => "margin-top:15px;"}
			%li= link_to "Summary", "#summary"
			%li= link_to "Code", "#code"
			%li= link_to "Writing", "#writing"
			%li= link_to "Speaking", "#speaking"
	
		.tab_container
			#summary.tab_content
				Summary
			#code.tab_content
				= render :partial => "code"
			#writing.tab_content
				Hello World!
			#speaking.tab_content
				Good bye suckers
	.clear
.clear	