#profile
	.grid_2
		= image_tag @profile.gravatar_url(:size => 100), :id => :profile_pic
	.grid_14
		%h2
			.username= @profile.display_name
			.profile_name= "(#{@profile.username})"
			- if @profile == current_profile
				= link_to "edit profile", edit_profile_path(@profile)
		= render :partial => "profile_icons"
	.clear
	
	%hr{:style => "margin-top: 20px;margin-bottom: 20px"}

	.grid_4
		= render :partial => "basic_info"
	
	.clear
