= content_for :title do
  #{@profile.username} - Speaker Profile


#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  
  #profile_content
    .grid_8
      %h2 Talks (#{@profile.talks.count})
      - if can? :add_talk, @profile
        .link= link_to "add a talk", new_profile_talk_path(@profile)
      %ul.list
        - @profile.talks.each do |talk|    
          %li
            .item_pic
              - unless talk.slides_thumbnail.nil?
                = image_tag talk.slides_thumbnail
              -else
                = image_tag "default_talk.png"
            .item_info
              .item_title= link_to talk.title, [@profile, talk]
              .item_description
                = truncate(talk.description, :length => 60)
      &nbsp;

    .grid_5
      = render :partial => "shared/profile/speaker_rate"
      = render :partial => "shared/profile/slide_share"
      = render :partial => "shared/tags", :locals => { :taggable => @profile.speaker_profile }

    .clear

  .clear

