= content_for :title do
  #{@profile.username} - Speaker Profile

#profile
  = render :partial => "profile_side_bar"
  //= render :partial => "header"
  //= render :partial => "profile_menu"
  
  .grid_13
    %h2 #{@profile.display_name}'s Speaker Profile
    %ul#important_stats
      %li #{@profile.talks.count} talks
      %li.points #{@profile.score(:speaker_points)} speaker points
    - if can? :add_talk, @profile
      .link= big_primary_button_link_to "add a talk", new_profile_talk_path(@profile)
    %ul#talks
      - @profile.talks.each do |talk|    
        %li
          .preview_pic= image_tag talk.preview_pic
          .talk_info
            .talk_title= link_to talk.title, [@profile, talk]
            //.talk_description= truncate(talk.description, :length => 120)
          .clear
    &nbsp;
    = render :partial => "speaker_rate_profiles/profile"
    = render :partial => "slide_share_profiles/profile"
    = render :partial => "shared/tags", :locals => { :taggable => @profile.speaker_profile }

  .clear

