#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  
  #profile_content
    .grid_16
      %table#count_box
        %tr
          %td.count= @profile.talks.count
          %td.count_of= @profile.talks.count > 1 ? "talks" : "talks"
          %td.space
          %td.count= @profile.presentations.count
          %td.count_of= @profile.presentations.count > 1 ? "presentations" : "presentations"
      //- unless @profile.speaker_bio.nil?
      //  %p= @profile.speaker_bio
      //= link_to "Set your speaker bio", edit_speaker_bio_path(:username => @profile.username)
      %br
      %br
    .clear

    .grid_9
      %h2 Talks
      - if can? :add_talk, @profile
        .link= link_to "add a talk", new_talk_path(:username => @profile.username)
      %ul.list
        - @profile.talks.each do |talk|    
          %li
            .item_pic
              - unless talk.slides_thumbnail.nil?
                = image_tag talk.slides_thumbnail
              -else
                = image_tag "default_talk.png"
            .item_info
              .item_title= link_to talk.title, talk
              .item_description
                = truncate(talk.description, :length => 60)
                - if talk.presentations.any?
                  %p= "Presented #{pluralize talk.presentations.count, 'time', 'times' }"
      &nbsp;

    .grid_6
      = render :partial => "shared/profile/speaker_rate"
      = render :partial => "shared/profile/slide_share"
      = render :partial => "shared/tags", :locals => { :taggable => @profile.speaker_profile }

    .clear

  .clear

