#profile
  = render :partial => "header"
  = render :partial => "profile_menu"
  #profile_content
    .grid_8
      %table#count_box
        %tr
          %td.count= @profile.blogs.count
          %td.count_of= @profile.blogs.count > 1 ? "blogs" : "blog"
          %td.space
          %td.count= @profile.posts.count
          %td.count_of= @profile.posts.count > 1 ? "posts" : "post"
      %h2 Blog posts
      %ul.list
        - @blog_posts.each do |p|
          %li
            .item_title= link_to p.title, p.url
            %p= show_date p.written_on
      &nbsp;

    .grid_5
      - if can? :add_blog, @profile
        %a{:class => "module_link", :rel => "#add_blog"} Add Blog
        #add_blog.overlay
          = render :partial => "blogs/form", :locals => { :blog => Blog.new, :action_text => "Add", :disable_text => "Adding..." }
      - @profile.blogs.each do |b|
        .info_box
          .info_logo
            .blog_title= b.title.html_safe unless b.title.nil?
          .info
            - if can? :edit, b
              .item_link
                %a{:class => "module_link", :rel => "#blog_#{b.id}"} edit
            - if can? :delete, b
              .item_link
                = link_to "delete", [@profile, b], :id => "delete_blog_#{b.id}", :confirm => 'Are you sure?', :method => :delete
        .clear
        %div{:id => "blog_#{b.id}", :class => "overlay"}
          = render :partial => "blogs/form", :locals => { :blog => b, :action_text => "Save", :disable_text => "Saving..." }

    .clear
  .clear
.clear

