#profile
	= render :partial => "shared/profile/header"
	
	%hr
	.grid_4
		= render :partial => "shared/profile/basic_info"
	.clear
	
	.grid_16
		%ul.tabs{:style => "margin-top:15px;"}
			%li= link_to "Summary", "#summary"
			%li= link_to "Code", "#code"
			%li= link_to "Writing", "#writing"
			%li= link_to "Speaking", "#speaking"
	
		.tab_container
			#summary.tab_content
				Summary
			#code.tab_content
				= render :partial => "shared/profile/code"
			#writing.tab_content
				= render :partial => "shared/profile/writing"
			#speaking.tab_content
				Good bye suckers
	.clear