.grid_16
	%h2= "Schedule a new meeting for #{@user_group.name}"

	= form_for [@user_group, @meeting] do |f|
		= render :partial => "shared/errors", :locals => { :o => @meeting, :error_message => "We couldn't schedule your meeting because:"}
		
		.label= f.label :title
		.control= f.text_field :title
		.label= f.label :summary
		.control= f.text_area :summary

		.control
			= f.label :start
			%input{:type => "text", :id => "start_time", :name => "start_time" }
			%input{:type => "text", :id => "start_date", :name => "start_date"}
		.control
			= f.label :end, :style => "margin-right: 5px;"
			%input{:type => "text", :id => "end_time", :name => "end_time" }
			%input{:type => "text", :id => "end_date", :name => "end_date"}

		.fieldset.set_location
			%legend Location
			= f.text_area :location, :size=>'25x3', :id=>:location, :class=>:location
			= f.hidden_field :lat, :id => :lat
			= f.hidden_field :lng, :id => :lng
			
		.submit= f.submit "Schedule", :disable_with => "Scheduling..."
	
	:javascript
		jQuery(function() {		
			$("#start_date").datepicker();	
			$("#start_date").datepicker("setDate", #{js_date @meeting.start});

			$("#end_date").datepicker();	
			$("#end_date").datepicker("setDate", #{js_date @meeting.end});
			$("#start_time, #end_time").calendricalTimeRange();
	
			$('#location')
			.bind('auto-geocoder.onGeocodeSuccess', function(e, results, status) {
				$("#lng").val(results[0].geometry.location.lng());
				$("#lat").val(results[0].geometry.location.lat());
			})
			.autoGeocoder();
		});
.clear