= semantic_form_for [@profile, blog] do |f|
  = f.inputs do
    = f.input :rss, :label => "Rss feed for your blog", :required => false
  = f.buttons do
    = big_primary_button_submit_tag "Save", :disable_with => "Saving..."
