= content_for :title do
  Registration
  
.grid_16
  %h1 Registration
.clear
.grid_8
  = semantic_form_for @user, :url => registration_path("user") do |f|
    = f.inputs do
      = f.input :username, :required => false
      = f.input :email, :required => false
      = f.input :password, :as => :password, :required => false
    = f.buttons do
      = big_primary_button_submit_tag "Save"

  %br
  = render :partial => "devise/shared/links"
.clear

:javascript
  var changing_value = true;

  $("#user_username").keyup(function(){
    if (changing_value) {
      changing_value = false;
      this.value = this.value.toLowerCase();
      changing_value = true;
    }
  });
