= form_for [@talk, @presentation] do |f|
  .label= f.label "When are you giving the presentation?"
  .control
    = f.text_field :date_string
    = f.text_field :time_string
  .label= f.label :audience, "Who are you giving the presentation to?"
  .control= f.text_field :audience
  .label=f.label :url, "Do you have a url for the presentation for more information?"
  .control= f.text_field :url
  .label= f.label :video_url, "If you have a link to a video recording of the presentation, please enter your link below"
  .control= f.text_field :video_url
  .submit= f.submit "Save", :disable_with => "Saving..."
    
:javascript
  $(function() {
    $("#presentation_date_string").calendricalDate();
    $("#presentation_time").calendricalTime();
  });
