.grid_16
  %h1.hidden Autodiscover

  = form_tag profile_autodiscovers_path(@profile) do
    .autodiscover_submit= submit_tag "I'm done autodiscovering..."

  #autodiscover
  = render :partial => "autodiscover"

  .autodiscover#github
    = image_tag("git_hub_info_logo.png")
    %hr
    .loading
    .info.hidden
      %table
        %tr
          %td.discovered_label username
          %td.discovered_info#github_username
      %a{:class => "module_link", :rel => "#sync_git_hub"} That's not me
      #sync_git_hub.overlay
        - @git_hub_profile = GitHubProfile.new
        = render :partial => "git_hub_profiles/form" 


.clear

