= content_for :title do
  Autodiscovery
  
.grid_16
  %h1.hidden Autodiscover

  #autodiscovering
    %p Please be patient as we discover accounts for you.
    = image_tag "wait_bar_green.gif"
  #autodiscovered.hidden
    = form_tag profile_autodiscover_path(@profile) do
      .autodiscover_submit= submit_tag "Done"

  = render :partial => "autodiscover"

  %table#discovered

.clear