= content_for :title do
  Autodiscovery
  
.grid_16
  %h1.hidden Autodiscover

  #autodiscovering
    %p Please be patient as we discover accounts for you.
    = image_tag "wait_bar_green.gif"
  #autodiscovered.hidden
    %h2 
      Finished autodiscovery
      = form_tag profile_autodiscover_path(@profile) do
        = big_primary_button_submit_tag "Go to my profile"

  = render :partial => "autodiscover"

  %table#discovered

.clear