= content_for :title do
  #{@profile.display_name} - Speaking

#profile
  = render :partial => "profiles/profile_side_bar"
  
  .grid_13
    .total_score
      = @profile.score(:speaker_points)
      
    %h1
      = "#{@profile.display_name} -> Speaking"
      - if can?(:sync_profile, @profile)
        %ul#profile_actions
          %li= edit_button_link_to "Edit your Speaker Profile", edit_profile_speaking_path(@profile)
        
    %section#important_stats
      %table
        %tr
          %td.title Talks
          %td.points
            %p= @profile.talks.count
        - if @profile.speaker_rate_profile
          %tr
            %td.title SpeakerRate rating
            %td.points
              %p= @profile.speaker_rate_profile.rating
    
    #talks
      %h2 Talks
      - if can? :add_talk, @profile
        .link= big_add_primary_button_link_to "add a talk", new_profile_talk_path(@profile)
      %ul
        - @profile.talks.each do |talk|    
          %li
            .preview_pic= image_tag talk.preview_pic
            .talk_info
              .talk_title= link_to talk.title, [@profile, talk]
              .talk_description= truncate(talk.description, :length => 140)
              //= render :partial => "shared/simple_tags", :locals => { :taggable => talk }

            .clear
    &nbsp;    
    
  .clear

