= content_for :title do
  #{@profile.username} - Speaker Profile

#profile
  = render :partial => "profiles/header"
  = render :partial => "profiles/profile_menu"
  
  #profile_content
    %section.page-header
      %h1
        Talks
        %small
        - if can? :add_talk, @profile
          = link_to "add a talk", new_profile_talk_path(@profile), :class => "btn"
      %ul.talks.unstyled
        - @profile.talks.each do |talk|    
          %li.row.talk
            .span3= image_tag talk.preview_pic, :class => "talk_preview_pic"
            .span13
              %h3= link_to talk.title, [@profile, talk]
              %p= truncate(talk.description, :length => 390)
