- if @slide_share_profile || can?(:sync_profile, @profile)
  .info_box#slide_share_info
    .info_logo
      = link_to image_tag("slide_share_info_logo.png"), "http://www.slideshare.net"
      -if can?(:sync_profile, @profile) && @slide_share_profile
        .delete
          = link_to "delete", [@profile, @slide_share_profile], :id=> :delete_slide_share, :confirm => 'Are you sure?', :method => :delete
        .edit
          %a{:class => "module_link", :rel => "#sync_slide_share"} edit
    .info
      - if @slide_share_profile
        - if !@slide_share_profile.synced?
          %p We are still processing. Hit refresh.
        - else
          = link_to "Go to my Slide Share Profile", @profile.slide_share_profile.url, :target => "_blank"
          %table
            %tr
              %td Slides count
              %td= @slide_share_profile.slides_count 
      - else
        - if can? :sync_profile, @profile
          - @slide_share_profile = SlideShareProfile.new
          %p 
            Do you have a Slide Share account? 
            %a{:class => "module_link", :rel => "#sync_slide_share"} Yes
      #sync_slide_share.overlay
        = render :partial => "slide_share_profiles/form"
  .clear
