%li
  .item_pic= image_tag "experience.png"
  .item_info
    .item_title
      = job.title
    %p 
      with 
      - if job.company
        = job.company.name
      //- else
      //  #{job.company_name}
    .range
      = show_date job.start_date
      = show_date job.end_date
    .item_description= job.description
