%li
  .item_pic
    - if job.company.logo.nil?
      = image_tag "experience.png"
    - else 
      = image_tag job.company.logo.url
  .item_info
    .item_title
      - if job.created_at
        = link_to job.title, job
      - else
        = job.title
    %p 
      with 
      - if job.company
        = link_to job.company_name, job.company
      - else
        #{job.company_name}
    .range
      = show_date job.start_date
      = show_date job.end_date
    .item_description= job.description
