= content_for :title do
  Edit Job

.row
  .span16
    
    = form_for [@profile, @job] do |f|
      %fieldset
        %legend Edit Job
        .clearfix
          = f.label :company_name
          .input
            %span.uneditable-input= @job.company_name        
        .clearfix
          = f.label :title
          .input
            %span.uneditable-input= @job.title
        .clearfix
          = f.label :description
          .input
            %span.uneditable-input{:style=> "height: auto;"}= @job.description
        .clearfix
          = f.label "Dates"
          .input
            %span.uneditable-input= @job.display_date_range
        %hr
        .clearfix
          = f.label :tags_text, "Tags"
          .input
            = f.text_area :tags_text, :class => "tagit", :rows => 3
            %span.help-block Separate tags with commas
        .actions
          = f.submit "Save", :disable_with => "Saving...", :class => "btn primary"        