= form_for [@profile, @talk] do |f|
  .label= f.label :title, "What's the talk titled?"
  .control= f.text_field :title
  .label= f.label :description, "Can you describe the talk?"
  .control= f.text_area :description
  .label= f.label "When are you giving the presentation?"
  .control
    = f.text_field :date_string
    = f.text_field :time_string
  .label= f.label :audience, "Who are you giving the presentation to?"
  .control= f.text_field :audience
  .label=f.label :url, "Do you have a url for the presentation for more information?"
  .control= f.text_field :url
  .label= f.label :video_url, "If you have a link to a video recording of the presentation, please enter your link below"
  .control= f.text_field :video_url
  .label= f.label :slides_url, "Where can someone download the slides?"
  .control= f.text_field :slides_url
  .label= f.label :willing_to_give_talk_again, "Are you willing to give the talk again?"
  .control
    = radio_button "talk", "willing_to_give_talk_again", true
    Yes
    = radio_button "talk", "willing_to_give_talk_again", false    
    No
  .label= f.label :tags_text, "Care to tag the talk?"
  .control= f.text_area :tags_text
  .submit= f.submit action_text, :disable_with => disable_text


:javascript
  $(function() {
    $("#talk_date_string").calendricalDate();
    $("#talk_time_string").calendricalTime();
  });
