= content_for :title do
  #{@profile.name}'s Talks

.grid_16
  %h1 #{@profile.name}'s Talks (#{@profile.talks.count})
  - if can? :add_talk, @profile
    .link= link_to "add a talk", new_profile_talk_path(@profile)
  %ul.list
    - @profile.talks.each do |talk|    
      %li
        .item_pic
          - unless talk.slide_share_thumbnail.nil?
            = image_tag talk.slides_thumbnail
          -else
            = image_tag "default_talk.png"
        .item_info
          .item_title= link_to talk.title, [@profile, talk]
          .item_description
            = truncate(talk.description, :length => 60)


.clear
