= content_for :title do
  Add a talk

.grid_16
  %h1.form_title Add a talk

  = semantic_form_for [@profile, @talk] do |f|
    = f.inputs do
      = f.input :title, :required => false
      = f.input :description, :as => :text, :required => false
    = f.buttons do
      = big_primary_button_submit_tag "Add Talk"
	
.clear
