= content_for :title do
  = @talk.title

= content_for :css do
  = stylesheet_link_tag "talk"

.grid_11
  %h1= @talk.title
  %p#talk_description= @talk.description
  #slide_share= image_tag "talk/slide_share.png"
  #slideshow= @talk.slideshow_html.html_safe

.grid_5
  %table
    %tr
      %td= image_tag @profile.gravatar_url(:size => 50), :id => :profile_pic
      %td.profile_info
        .name= link_to @profile.name, @profile
        .username= link_to @profile.username, @profile
    %tr
      %td.score
        %p= pointify @profile.score(:speaker_points)
      %td.score_title speaker points
    %tr
      %td.score
        %p= pointify 5000
      %td.score_title talk points
  #speaker_rate
    = image_tag "talk/speaker_rate.png"
    = @talk.speaker_rating
  = render :partial => "shared/tags", :locals => { :taggable => @talk }
.clear

