= content_for :css do
  = stylesheet_link_tag "talk"

#talk
  .grid_4
    .talk_pic
      - unless @talk.slides_thumbnail.nil?
        = image_tag @talk.slides_thumbnail
      - else
        = image_tag "default_talk.png"
    .clear
    .talk_options
      %ul
        = render :partial => "slides"
        = render :partial => "video"

    .clear
    .talk_author
      %h3 talk given by
      .talk_profile_pic= image_tag @talk.profile.gravatar_url(:size => 60)
      .talk_profile_name= link_to @talk.profile.name, @talk.profile
      .talk_profile_username= @talk.profile.username
    &nbsp;
    
  .grid_12
    %h2= @talk.title
    - if can? :edit, @talk
      = link_to "edit", edit_profile_talk_path(@profile, @talk)
    %p.talk_description= @talk.description
    = render :partial => "shared/tags", :locals => { :taggable => @talk }
    
  .clear
