#talk
  .grid_16
    %h2
      .title
        = @talk.title
      .links
        - if can? :edit, @talk
          = link_to "edit", edit_profile_talk_path(@profile, @talk)
    
    - unless @talk.slides_thumbnail.nil?
      = image_tag @talk.slides_thumbnail
    %p.author
      talk given by 
      = link_to @profile.display_name, profile_speaking_path(@profile)
    %p.give_talk_again
      - if @talk.willing_to_give_talk_again
        Willing to give talk again!

    - if @talk.video?
      = video_html @talk.video_url

    %p.download_link
      - if @talk.slides_url
        to download the slides click
        = link_to "here", @talk.slides_url, :id => "download_link"

    %p.slides_thumbnail
      - if @talk.slides_thumbnail
        = image_tag @talk.slides_thumbnail, :id => "slides_thumbnail"

    %p.slideshow
      - if @talk.slideshow_html
        #slideshow
          = @talk.slideshow_html.html_safe

  .clear
  .grid_10
    %h3 Description
    %p= @talk.description
  .grid_6
    = render :partial => "shared/tags", :locals => { :taggable => @talk }
  .clear  
