= content_for :title do
  = @talk.title

= content_for :css do
  = stylesheet_link_tag "talk"

.grid_11
  %h1= @talk.title
  %p#talk_description= @talk.description
  = render :partial => "slide_share"
  
.grid_5
  %table
    %tr
      %td= image_tag @profile.gravatar_url(:size => 50), :id => :profile_pic
      %td.profile_info
        .name= link_to @profile.display_name, @profile
        .username= link_to @profile.username, @profile
        .other_talks= link_to "See other talks by this user", profile_speaking_path(@profile)
    %tr
      %td.score
        %p= pointify @profile.score(:speaker_points)
      %td.score_title speaker points
  = render :partial => "speaker_rate"
  = render :partial => "shared/tags", :locals => { :taggable => @talk }
.clear

