= content_for :title do
  = @talk.title

= content_for :css do
  = stylesheet_link_tag "talk"

.grid_11
  %h1= @talk.title
  %p#talk_description= @talk.description
  - unless @talk.slideshow_html.nil?
    #slide_share= image_tag "talk/slide_share.png"
    #slideshow= @talk.slideshow_html.html_safe

.grid_5
  %table
    %tr
      %td= image_tag @profile.gravatar_url(:size => 50), :id => :profile_pic
      %td.profile_info
        .name= link_to @profile.display_name, @profile
        .username= link_to @profile.username, @profile
    %tr
      %td.score
        %p= pointify @profile.score(:speaker_points)
      %td.score_title speaker points
    %tr
      %td.score
        %p= pointify 5000
      %td.score_title talk points
  #speaker_rate
    %h3= image_tag "talk/speaker_rate.png"
    - if @profile.speaker_rate_profile.nil?
      %p #{@profile.display_name} has not signed up for a SpeakerRate account yet
    - elsif !@talk.on_speaker_rate?
      %p #{@profile.display_name} has not added the talk to their SpeakerRate account yet
    - else
      = @talk.speaker_rating
      = link_to "Rate It", @talk.speaker_rate_url
  = render :partial => "shared/tags", :locals => { :taggable => @talk }
.clear

