- if current_profile
  - if can? :follow, profile
    %div{:id => "following_#{profile.id}"}
      - if current_profile.follows? profile
        = semantic_form_for [profile, current_profile.following_for(profile)], :remote => true, :html => { :method => :delete } do |f|
          = submit_tag "Unfollow", :disable_with => "Unfollowing...", :id => "unfollow", :class => "btn danger"
      - else
        = semantic_form_for [profile, Following.new], :remote => true do |f|
          = submit_tag "Follow", :disable_with => "Following...", :id => "follow", :class => "btn success"