%ul.nav.secondary-nav
  - unless user_signed_in?
    %li= link_to "Sign in", login_path, :class => "menu_nav"
    %li= link_to "Register", new_user_registration_path, :class => "menu_nav"
  -else
    %li= image_tag current_profile.gravatar_url(:size => 27), :class => :current_user_photo
    %li= link_to current_user.username, profile_path(current_profile)
    %li= link_to "Logout", logout_path
        
