.right
	- unless user_signed_in? 
		#signin_panel
			= link_to "Sign in", login_path
			= " or "
			= link_to "Register", new_user_registration_path
			
	-else
		#login_panel
			.avatar
				= image_tag current_profile.gravatar_url(:size => 53), :class => :photo
			.logout
				= link_to "sign out", logout_path
			.username
				= link_to current_user.username, profile_path(current_profile)
			= render :partial => "shared/points", :locals => { :profile => current_profile }