.right
	- unless user_signed_in? 
		= link_to "Register", new_user_registration_path
		= " or "
		= link_to "Login", login_path
	-else
		#login_panel
			.avatar
				= image_tag current_profile.gravatar_url(:size => 40), :class => :photo
			.logout
				= link_to "logout", logout_path
			.username
				= link_to current_user.username, current_user.profile
			.points
				= image_tag "codemav_point_icon.png"
				.score= current_profile.total_score
