
- unless user_signed_in? 
	= link_to "Register", new_user_registration_path
	= "|"
	= link_to "Login", login_path
- else
	= link_to "You are logged in as #{current_user.email}", profile_path(current_user.profile.id)
	= "|"
	= link_to "Logout", logout_path