#menu
  = link_to "People", new_people_search_path
  = link_to "Talks", new_talk_search_path
  = link_to "Companies", new_company_search_path
  - if can? :manage, Tag
    = link_to "Tags", tags_path
  - if can? :manage, Technology
    = link_to "Technologies", technologies_path
