#menu
  = link_to "Backlog", backlog_path, :class => "menu_nav"
  = link_to "People", profiles_path, :class => "menu_nav"
  = link_to "Talks", new_talk_search_path, :class => "menu_nav"
  = link_to "Companies", new_company_search_path, :class => "menu_nav"
  - if can? :manage, Tag
    = link_to "Tags", tags_path, :class => "menu_nav"
  - if can? :manage, Technology
    = link_to "Technologies", technologies_path, :class => "menu_nav"

