.points
	= image_tag "icons/codemav_icon.png", :alt => "CodeMav points"
	.score= profile.total_score
	- unless profile.stack_overflow_profile.nil?
		= image_tag "stack_overflow_rep_icon.png"
		.score= profile.stack_overflow_profile.reputation
	- unless profile.git_hub_profile.nil?
		= image_tag "icons/git_hub_icon.png"
		.score= profile.git_hub_profile.followers_count
	%br
.clear