- if @coder_wall_profile || can?(:sync_profile, @profile)
  .info_box#coder_wall_info
    .info_logo
      = link_to image_tag("coder_wall_info_logo.png"), "http://www.coderwall.com"
      -if can?(:sync_profile, @profile) && @coder_wall_profile
        .delete
          = link_to "delete", [@profile, @coder_wall_profile], :id=> :delete_coder_wall, :confirm => 'Are you sure?', :method => :delete
        .edit
          %a{:class => "module_link", :rel => "#sync_coder_wall"} edit
    .info
      - if @coder_wall_profile
        - if !@coder_wall_profile.synced?
          %p We are still processing. Hit refresh.
        - else
          = link_to "Go to my Coderwall Profile", @coder_wall_profile.url, :target => "_blank"
          %ul.coder_wall_badges
            - @coder_wall_profile.badges.each do |badge|
              %li
                = image_tag badge.badge, :alt => badge.name
        
      - else
        - if can? :sync_profile, @profile
          - @coder_wall_profile = CoderWallProfile.new
          %p{:id => :add_coder_wall_section} 
            Do you have a Coderwall account? 
            %a{:class => "module_link", :rel => "#sync_coder_wall"} Yes
      #sync_coder_wall.overlay
        = render :partial => "coder_wall_profiles/form"
  .clear

