
- @coder_wall_profile = @profile.coder_wall_profile || CoderWallProfile.new
- @coder_wall_error_class = @coder_wall_profile.has_error? ? "sync_error" : ""
    
%li
  .row
    = form_for [@profile, @coder_wall_profile] do |f|
      .span3
        = link_to image_tag("syncable/coder_wall_logo.png"), "http://www.coderwall.com", :target => "_blank"
        %span.help-block= link_to "What is Coderwall?", "#", :class => "sync_what_is"
      .span5
        = f.text_field :username, :class => "xlarge #{@coder_wall_error_class}", :placeholder => "Coderwall username"
        - if @coder_wall_profile.has_error?
          %span.help-block.sync_error_msg= @coder_wall_profile.error_message
        %span.help-block= link_to "How do I find my username?", "#", :class => "sync_help"

      .span3.sync_actions#sync_coder_wall
        = submit_tag "Sync", :class => "btn success"
        - if @profile.coder_wall_profile
          = link_to "Delete", [@profile, @coder_wall_profile], :id=> :delete_coder_wall, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"

  .row
    .offset3.span10
      .alert-message.block-message.info.what_is.hide
        = link_to "x", "#", :class => "close"
        %p
          Coderwall is a site where you can sync your GitHub account and earn achievements for your code.
      .alert-message.block-message.info.help.hide
        = link_to "x", "#", :class => "close"
        %p Your Coderwall username is simply the username you login with (probably the same as your GitHub username).    