
- if @talks.empty?
  #no_results
    No talks were found.
- else
  %ul.search_results
    - @talks.each do |talk|
      %li.talk_search_result
        .talk_pic
          - unless talk.slides_thumbnail.nil?
            = image_tag talk.slides_thumbnail
          - else
            = image_tag "default_talk.png"
        .talk_info
          .talk_title= link_to talk.title, profile_talk_path(talk.profile, talk)
          .talk_description= truncate talk.description, :length => 200
          = render :partial => "shared/simple_tags", :locals => { :taggable => talk }
        .talk_author
          .talk_profile_pic= image_tag talk.profile.gravatar_url(:size => 60)
          .talk_profile_name= link_to talk.profile.username, talk.profile

        .clear
  = will_paginate @talks


