
- if @talks.empty?
  #no_results
    No talks were found.
- else
  %ul.search_results
    - @talks.each do |talk|
      %li.talk_search_result
        .talk_pic
          - unless talk.slides_thumbnail.nil?
            = image_tag talk.slides_thumbnail
          - else
            = image_tag "default_talk.png"
        .talk_info
          .talk_title= talk.title
          .talk_description= truncate talk.description, :length => 200
        .talk_author
          .talk_profile_pic= image_tag talk.profile.gravatar_url(:size => 60)
          .talk_profile_name= talk.profile.username

        .clear


