
- if @talks.empty?
  .row
    .span16
      .alert-message.block-message.info
        No talks were found.
- else
  %ul.unstyled#talk_search_results
    - @talks.each do |talk|
      %li.row.talk
        .span3
          - unless talk.slide_share_thumbnail.nil?
            = image_tag talk.slide_share_thumbnail
          - else
            = image_tag "default_talk.png"
        .span13
          %h2= link_to talk.title, profile_talk_path(talk.profile, talk)
          %p given by #{talk.profile.display_name}
          %p= truncate talk.description, :length => 200
          = render :partial => "shared/simple_tags", :locals => { :taggable => talk }
          
  - if @talks.respond_to? :current_page
    = paginate @talks


