= content_for :title do
  Search Talks

.row
  .offset5.span8
    = form_tag talk_search_path do |f|
      = search_field_tag :search, "", :placeholder => "Search talks", :class => "input-xlarge"
      = submit_tag "Search", :disable_with => "Searching...", :class => "btn"
      
= render :partial => "talk_search_results"
