- content_for :title do
  Welcome to CodeMav

#home 
  %h1.hidden Welcome to CodeMav
  .grid_16
    %h2.home_tagline Consolidate your profiles to create your definitive developer identity.
  .clear  
  
  .grid_10
    
    .home_image
      = image_tag "homepage/home_services.png"
  
  .grid_6

    %h3.join_codemav Join CodeMav
    .register
      = semantic_form_for User.new, :url => registration_path("user") do |f|
        = f.inputs do
          = f.input :username
          = f.input :email, :required => false
          = f.input :password, :required => false
        = f.buttons do
          = big_primary_button_submit_tag "Register"

  .clear

  %hr

  .grid_5.home_module
    %h4 Consolidate profiles.
    %p
      Consolidate all your online profiles, from GitHub to SlideShare to LinkedIn and more, to create your definitive developer identity.

  .grid_5.home_module
    %h4 Earn Recognition.
    %p
      Earn points for your developer activities, including blogging, giving talks, and contributing to open source projects. The more popular the activity, the more points you earn.

  .grid_5.home_module
    %h4 Stay connected.
    %p
      Stay up-to-date with what your fellow developers are doing. Find out about events happening near you, discover open source projects that need 
      contributions, and build your network.

  .clear
