= content_for :title do
  #{@profile.display_name} - Code

#profile
  = render :partial => "profiles/header"
  = render :partial => "profiles/profile_menu"

  #profile_content
    .grid_13
      - if @coder_wall_profile
        %section#coder_wall
          %h2 Coderwall Badges
          = link_to "Go to my Coderwall Profile", @coder_wall_profile.url, :target => "_blank"
          %ul.coder_wall_badges
            - @coder_wall_profile.badges.each do |badge|
              %li
                = image_tag badge.badge, :alt => badge.name
              
      - if @git_hub_profile
        %section#git_hub.code_details
          %h2 GitHub
          = link_to "Go to my GitHub Profile", @git_hub_profile.url, :target => "_blank"
          %h3 Top Repositories
          %table
            - @git_hub_repositories.each do |repo|
              %tr
                %td
                  .repo_name= link_to repo.name, repo.url
                  .repo_description= repo.description
                %td.language= repo.language
                %td
                  .points
                    .number= repo.forks
                    .description forks
                %td
                  .points
                    .number= repo.watchers
                    .description watchers                    
                %td
                  .points
                    .number= repo.total_score
                    .description code
              
      - if @bitbucket_profile
        %section#bitbucket.code_details
          %h2 Bitbucket
          = link_to "Go to my Bitbucket Profile", @bitbucket_profile.url, :target => "_blank"
          %h3 Top Repositories
          %table
            - @bitbucket_repositories.each do |repo|
              %tr
                %td
                  .repo_name= link_to repo.name, repo.url
                  .repo_description= repo.description
                %td
                  .points
                    .number= repo.followers_count
                    .description followers
      &nbsp;
    .grid_2

    .clear

  .clear

