- if @bitbucket_profile || can?(:sync_profile, @profile)
  .info_box#bitbucket_info
    .info_logo
      = link_to image_tag("bitbucket_info_logo.png"), "http://www.bitbucket.org"
      -if can?(:sync_profile, @profile) && @bitbucket_profile
        .delete
          = link_to "delete", [@profile, @bitbucket_profile], :id=> :delete_bitbucket, :confirm => 'Are you sure?', :method => :delete
        .edit
          %a{:class => "module_link", :rel => "#sync_bitbucket"} edit

    .info
      - if @bitbucket_profile
        - if !@bitbucket_profile.synced?
          %p We are still processing. Hit refresh.
        - else
          = link_to "Go to my Bitbucket Profile", @bitbucket_profile.url, :target => "_blank"
          %table
            %tr
              %td Repositories
              %td= @bitbucket_profile.repository_count
            %tr
              %td Followers
              %td= @bitbucket_profile.followers_count

      - else
        - if can? :sync_profile, @profile
          - @bitbucket_profile = BitbucketProfile.new
          %p{:id => :add_bitbucket_section} 
            Do you have a Bitbucket account? 
            %a{:class => "module_link", :rel => "#sync_bitbucket"} Yes
      #sync_bitbucket.overlay
        = render :partial => "bitbucket_profiles/form"

  .clear

