
%li.row
  .span3= link_to image_tag("syncable/bitbucket_logo.png"), "http://www.bitbucket.org"
  .span10
    - @bitbucket_profile = @profile.bitbucket_profile || BitbucketProfile.new
    #sync_bitbucket
      = form_for [@profile, @bitbucket_profile] do |f|
        = f.text_field :username, :class => "xlarge"
        = submit_tag "Sync", :class => "btn success"
        - if @profile.bitbucket_profile
          = link_to "Delete", [@profile, @bitbucket_profile], :id=> :delete_bitbucket, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"