= form_for @company, :html => {:multipart => true} do |f|
	.label= f.label :name
	.control= f.text_field :name
	.label= f.label :logo
	.control=f.file_field :logo
	= f.hidden_field :logo_cache
	.submit= f.submit action_text, :disable_with => disable_text