= content_for :title do
  Link your SlideShare slides

.grid_16
  %h1 Link your SlideShare slides
  = form_tag(:controller => "link_to_slide_shares", :action => "create", :method => "put") do
    = hidden_field_tag :profile_id, @profile.username
    = label_tag "slide_share_talk", "Your talks from SlideShare"
    %br
    = select("slide_share_talk", "talk_id", @slide_share_talks.map{|t| [t.title, t.id] })
    = big_primary_button_submit_tag "Link SlideShare slides"
  %br
  %br
  %p 
    If you can't find the slides you want, then you probably haven't added the slides to SlideShare.
    %br
    = big_button_link_to "Add slides to SlideShare", "http://www.slideshare.net/upload", :target => "_blank"
  
  %p 
    After the slides have been added be sure to come back here and sync with SlideShare.
    %br
    = big_button_link_to "Sync with SlideShare", refresh_profile_talk_link_to_slide_share_path(@profile, @talk)

.clear

