.grid_16
	%h1 Tags
	
	= link_to "add", new_tag_path, :class => "button"
	
	%br
	%br
	
	%table.simple
		%tr
			%th
			%th Tag
			%th Synonyms
			%th Taggings Count
		- @tags.each do |t|
			%tr
				%td= link_to "edit", t, :class => "button"
				%td= t.name
				%td= t.synonyms.join(", ")
				%td= t.taggings.count
		