.grid_8
  %h2 Sign in
  
  = semantic_form_for resource, :url => session_path(resource_name) do |f|
    = f.inputs do
      = f.input :username, :required => false
      = f.input :password, :required => false
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean
    = f.buttons do
      = big_primary_button_submit_tag "Sign in"

  %br
  = render :partial => "devise/shared/links"
.clear

:javascript
  var changing_value = true;

  $("#user_username").keyup(function(){
    if (changing_value) {
      changing_value = false;
      this.value = this.value.toLowerCase();
      changing_value = true;
    }
  });
