(function(){
  document.write('<%= stylesheet_link_tag "basic_widget.css" %>');
  document.write('<div class="codemav_basic_widget">');

  document.write('<%= image_tag "codemav_icon.png", :class => "codemav_icon", :size => "43x43" %>');

  document.write('<div class="codemav_name_and_subpoints">');
  document.write('<%= link_to @profile.username, profile_url(@profile), :class => "codemav_username" %>');

  document.write('<div class="codemav_subpoints_section">');
  <% unless @profile.stack_overflow_profile.nil? %>
    document.write('<%= image_tag 'stack_overflow_widget_icon.png', :height => 20, :class => "codemav_subpoints_icon" %>');
    document.write('<div class="codemav_subpoints"><%= pointify @profile.stack_overflow_profile.reputation %></div>');
  <% end %>
  document.write('</div>');
  document.write('</div>');

  document.write('<div class="codemav_points"><%= @profile.total_score %></div>');

  document.write('</div>');
  })()
