= content_for :title do
  #{@profile.display_name} - Knowledge

#profile
  = render :partial => "profiles/header"
  = render :partial => "profiles/profile_menu"

  .row#profile_content
    .span16
      - if @stack_overflow_profile
        %section.profile_section
          - unless @stack_overflow_profile.answers.empty?
            %h3 Top Stack Overflow Answers
            %table
              - @stack_overflow_profile.answers.each do |a|
                %tr
                  %td
                    %h4= link_to a.title, a.url, :target => "_blank"
                  %td
                    .points
                      .number= a.vote_count
                      .description votes
                  %td
                    .points
                      .number= a.view_count
                      .description views

          - unless @stack_overflow_profile.questions.empty?
            %h3 Top Stack Overflow Questions
            %table
              - @stack_overflow_profile.questions.each do |q|
                %tr
                  %td
                    %h4= link_to q.title, q.url, :target => "_blank"
                  %td
                    .points
                      .number= q.vote_count
                      .description votes
                  %td
                    .points
                      .number= q.view_count
                      .description views
      
        = render :partial => "shared/tags", :locals => {:taggable => @profile.knowledge_profile}
    .grid_2

    .clear

  .clear
.clear