
- if @people.empty?
  No one was found near that location.
- else
  - @people.each do |p|
    %hr
    .person_search_result
      .image= image_tag p.gravatar_url(:size => 60), :class => :photo
      .name= link_to p.display_name, profile_path(p)
      .username= "(#{p.username})"
      = render :partial => "shared/points", :locals => { :profile => p }
    .clear
    
