= content_for :title do
  Link a Talk to Bitbucket Repository

.grid_16
  %h1 Link a Talk to Bitbucket Repository
  = form_tag(:controller => "link_to_bitbucket_repositories", :action => "create", :method => "put") do
    = hidden_field_tag :profile_id, @profile.username
    = hidden_field_tag :talk_id, @talk.id
    = select_tag "bitbucket_repository_id", options_for_select(@bitbucket_repositories)
    = big_primary_button_submit_tag "Link"

.clear
