= content_for :head do
  = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
  = javascript_include_tag "jquery.auto-geocoder"

= form_for @backlog_item do |f|
  .label= f.label :title
  .control= f.text_field :title
  .label= f.label :description
  .control= f.text_area :description

  .fieldset.set_location
    %legend Location
    = f.text_area :location, :size=>'20x3', :id=>:location, :class=>:location
    = f.hidden_field :lat, :id => :lat
    = f.hidden_field :lng, :id => :lng

  .submit= f.submit "Save", :disable_with => "Saving"

:javascript
  $(document).ready(function() {    
    $('#location')
    .bind('auto-geocoder.onGeocodeSuccess', function(e, results, status) {
      $("#lng").val(results[0].geometry.location.lng());
      $("#lat").val(results[0].geometry.location.lat());
    })
    .autoGeocoder();
  });
