- content_for :css do
  = stylesheet_link_tag "backlog"
  
.grid_16
  %h1 Backlog
.clear

.grid_10
  #backlog
    .filter
      %h2 News, Events, Ideas, Whatever
      %ul
        %li Filter :
        %li.active
          = link_to "All", '/'

    %ul#backlog_items
      %li#add_item
        %a{:href => new_backlog_item_path}
          %p Have something cool to share? Add it >
        .clear
      = render :partial => "backlog_items/backlog_item", :collection => @backlog_items, :as => :backlog_item

.grid_6
  #event_feed
    .filter
      %h2 Activity Feed
      %ul
        %li Filter :
        %li.active
          = link_to "All", '/'

    %ul.list#events
      = render :partial => "events/event", :collection => @events, :as => :event
      %li.event_load &nbsp; 

.clear



