= content_for :title do
  #{@profile.display_name} - Social

#profile
  = render :partial => "profiles/header"
  = render :partial => "profiles/profile_menu"

  #profile_content
    .grid_13
      %section
        %ul#followings
          = render :partial => "followings/following", :collection => @friends, :as => :profile
        
      - if @twitter_profile
        %section#twitter
          = link_to "Go to my Twitter page", @twitter_profile.url
      &nbsp;
    .grid_2

    .clear

  .clear
.clear
