%h2 Experience

%p= pluralize @profile.projects.count, "project", "projects"
/ %p= pluralize @profile.companies.count, "posts", "posts"

.grid_6
	- if current_profile == @profile
		= link_to "Add Project", new_my_project_path 
	%ul
		- @profile.projects.each do |p|
			- if current_profile == @profile
				%li= link_to p.name, [:my, p]
			- else
				%li= link_to p.name, '/'

.grid_6
	%ul
		- @profile.experiences.each do |e|
			%li= "#{e.name} | #{e.duration.format("%w %~w and %d %~d")}"
				

.clear