.grid_4.info_box
	.info_logo= link_to image_tag("git_hub_info_logo.png"), "http://www.github.com"
	- if can? :set_git_hub_profile, @profile
		%p 
			Do you have a GitHub account? 
			= link_to "Add Your GitHub Account", new_git_hub_profile_path(:username => @profile.username)
	-else
		= link_to "Go to my GitHub Profile", @profile.git_hub_profile.url
		%table
			%tr
				%td Repositories
				%td= @profile.git_hub_profile.repository_count
			%tr
				%td Gists
				%td= @profile.git_hub_profile.gist_count
			%tr
				%td Followers
				%td= @profile.git_hub_profile.followers_count
.clear