.grid_16
	%table
		%tr
			%td= pluralize @profile.talks.count, "talk", "talks"
			%td= pluralize @profile.presentations.count, "presentation", "presentations"
.clear

.grid_8
	%h2.page_title 
		.title Talks
		- if current_profile == @profile
			.link= link_to "add a talk", new_my_talk_path 
	%ul
		- @profile.talks.each do |t|
			- if current_profile == @profile
				%li
					%p= link_to t.title, [:my, t]
					- if t.presentations.any?
						%p= "Presented #{pluralize t.presentations.count, 'time', 'times' }"
			- else
				%li= link_to t.title, '/'

.grid_8
	%br
	= render :partial => "shared/profile/speaker_rate"
.clear

