%h2 Speaking

%p= pluralize @profile.talks.count, "talk", "talks"
%p= pluralize @profile.presentations.count, "presentation", "presentations"

= render :partial => "shared/profile/speaker_rate"

- if current_profile == @profile
	= link_to "Add Talk", new_my_talk_path 
%ul
	- @profile.talks.each do |t|
		- if current_profile == @profile
			%li= link_to t.title, [:my, t]
		- else
			%li= link_to t.title, '/'