- if @stack_overflow_profile || can?(:set_stack_overflow_profile, @profile)
  .info_box#stack_overflow_info
    .info_logo
      = link_to image_tag("stack_over_flow_info_logo.png"), "http://www.stackoverflow.com"
      -if can?(:set_stack_overflow_profile, @profile) && @stack_overflow_profile
        .edit
          = link_to "edit", edit_profile_stack_overflow_profile_path(@profile, @stack_overflow_profile)
    .info
      - if @stack_overflow_profile
        = link_to "Go to my StackOverflow Profile", @stack_overflow_profile.url, :target => "_blank"
        %table
          %tr
            %td Reputation
            %td= @stack_overflow_profile.reputation
          %tr
            %td Badges
            %td= stack_overflow_badges(@stack_overflow_profile)
        
      - else
        - if can? :set_stack_overflow_profile, @profile
          - @stackoverflow_profile = StackOverflowProfile.new
          %p{:id => :add_stack_overflow_section} 
            Do you have a StackOverflow account? 
            %a{:rel => "#synch_stack_overflow"} Yes
          #synch_stack_overflow.overlay
            = render :partial => "git_hub_profiles/form"
          = render :partial => "git_hub_profiles/synch"

          %p 
            Do you have a StackOverflow account? 
            = link_to "Add Your StackOverflow Account", new_profile_stack_overflow_profile_path(@profile)
  .clear
