.info_box
  .info_logo
    = link_to image_tag("icons/twitter_logo.png"), "http://www.twitter.com"
    -if can?(:set_twitter_profile, @profile) && @profile.twitter_profile
      .edit
        %a{:class => "module_link", :rel => "#sync_twitter"} edit
  .info
    - if @profile.twitter_profile
      = link_to "Go to my Twitter page", @profile.twitter_profile.url, :target => "_blank"
      %p= @profile.twitter_profile.username
      %table
        %tr
          %td Followers
          %td= @profile.twitter_profile.followers_count
      
    - else
      - if can? :set_twitter_profile, @profile
        - @twitter_profile = TwitterProfile.new
        %p 
          Do you have a Twitter account? 
          %a{:class => "module_link", :rel => "#sync_twitter"} Add Twitter
    #sync_twitter.overlay
      = render :partial => "twitter_profiles/form"
.clear

