%p You can find your SpeakerRate id by looking at the text in the link on the right.
= image_tag "speaker_rate_find_id.png"
%p Just go to SpeakerRate, find your id, and enter it here. We can then sync your SpeakerRate profile with your account.

= semantic_form_for [@profile, @speaker_rate_profile] do |f|
  = f.inputs do
    = f.input :speaker_rate_id
  = f.buttons do
    = big_primary_button_submit_tag "Save"

