
%li.row
  .span3= link_to image_tag("syncable/speaker_rate_logo.png"), "http://www.speakerrate.com"
  .span10
    - @speaker_rate_profile = @profile.speaker_rate_profile || SpeakerRateProfile.new
    #sync_speaker_rate
      = form_for [@profile, @speaker_rate_profile] do |f|
        = f.text_field :speaker_rate_id, :class => "xlarge"
        = submit_tag "Sync", :class => "btn success"
        - if @profile.speaker_rate_profile
          = link_to "Delete", [@profile, @speaker_rate_profile], :id=> :delete_speaker_rate, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"