- @speaker_rate_profile = @profile.speaker_rate_profile || SpeakerRateProfile.new
- @speaker_rate_error_class = @speaker_rate_profile.has_error? ? "sync_error" : ""
    
%li
  .row
    = form_for [@profile, @speaker_rate_profile] do |f|  
      .span3
        = link_to image_tag("syncable/speaker_rate_logo.png"), "http://www.speakerrate.com", :target => "_blank"
        %span.help-block= link_to "What is SpeakerRate?", "#", :class => "sync_what_is"      
      .span5
        = f.text_field :speaker_rate_id, :class => "xlarge #{@speaker_rate_error_class}", :placeholder => "SpeakerRate ID (not username)"
        - if @speaker_rate_profile.has_error?
          %span.help-block.sync_error_msg= @speaker_rate_profile.error_message
        %span.help-block= link_to "How do I find my ID?", "#", :class => "sync_help"
      .span3.sync_actions#sync_speaker_rate
        = submit_tag "Sync", :class => "btn success"
        - if @profile.speaker_rate_profile
          = link_to "Delete", [@profile, @speaker_rate_profile], :id=> :delete_speaker_rate, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
          
  .row
    .offset3.span10
      .alert-message.block-message.info.what_is.hide
        = link_to "x", "#", :class => "close"
        %p
          SpeakerRate is a website where you can rate speakers and be rated yourself!
      .alert-message.block-message.info.help.hide
        = link_to "x", "#", :class => "close"
        %p 
          You can find your 
          %strong SpeakerRate ID 
          by looking at the text in the link on the right.
        = image_tag "speaker_rate_find_id.png"
        %p Just go to SpeakerRate, sign in, and find your ID. We can then sync your SpeakerRate profile with your account.
                