%h2 Synch with your Speaker Rate Account

.grid_7
	.large
		You can find your Speaker Rate id by looking at the text in the link on the right.
		= image_tag "speaker_rate_find_id.png"
		%p
			Just go to Speaker Rate, find your id, and enter it here. We can then synch your StackOverflow profile with your account.
		
	= form_for @stack_overflow_profile do |f|
		%table.biggie
			%tr
				%td= f.label :stack_overflow_id, "StackOverflow Id"
				%td= f.text_field :stack_overflow_id
			%tr
				%td
				%td= f.submit "Synch"
	
.clearfix