%html
%head
  %title 
    = yield(:title) || "CodeMav"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  - if Rails.env.production?
    = render :partial => "shared/analytics"

%body

  .topbar#header
    .topbar-inner
      .container
        %h3= link_to image_tag("main_code_mav_logo.png"), root_path 
        = render :partial => "shared/menu"
        = render :partial => "shared/login_info"
  
  .container#content
    = flashy
    = render :partial => 'shared/recent_badges'
    = yield

    %footer
      = render :partial => "shared/footer"